<launch>
  <machine name="workstation" address="workstation">
     <env name="ROS_MASTER_URI" value="http://workstation:11311" />
     <env name="ROS_HOSTNAME" value="workstation" />
  </machine>

  <node name="gui" pkg="rosjava_bootstrap" type="run.py" args="Challenge Challenge.ConstructionGUI" machine="workstation">
  </node> 	  

</launch>